name: deploy-manifests

on:
  push:
    branches:
      - main
    paths:
      - 'infra/**'
      
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: digitalocean/action-doctl@v2
        with:
          token: ${{ secrets.DO_ACCESS_TOKEN }}
      - run: doctl kubernetes cluster kubeconfig save 6452cf30-419c-4f2f-aa38-eaa6c4ba3228
      - run: kubectl apply -f infra/k8s && kubectl apply -f infra/k8s-prod
